@import "./base.css";

.min-h-screen {
  min-height: 100vh;
}

.chat-dialog {
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (min-width: 580px) {
  .chat-dialog {
    width: 75vw;
  }
}

@media only screen and (min-width: 768px) {
  .chat-dialog {
    width: 66vw;
  }
}

@media only screen and (min-width: 960px) {
  .chat-dialog {
    width: 55vw;
  }
}

@media only screen and (min-width: 1200px) {
  .chat-dialog {
    width: 44vw;
    max-width: 1200px;
  }
}